.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.filters button{
    font-size: 18px;
    background: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 20%;
}
.filters button:hover{
    opacity: 90%;
}
.locations,
.amenities{
    height: 100%;
    width: 25%;
    display: grid;
    place-content: center;
    position: relative;
}
.locations{
    border-right: 1px solid #DDDDDD;
}
.locations h3,
.amenities h3{
   font-weight: 600; 
   padding: 0;
   margin: 0;
}
.locations h4,
.amenities h4{
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.popover{
    position: absolute;
    margin-top: 72px;
    background:  #FAFAFA;
    width: 84%;
    display: none;
}
.popover li{
    margin-left: 32px;
    list-style: none;
    margin-bottom: 2px;
}
.locations:hover .popover,
.amenities:hover .popover{
    display: block;
}
.popover h2{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.popover li:last-child{
    margin-bottom: 20px;
}
